<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <style>
        .redColor{
            color: red;
        }
    </style>
</head>
<body>
 <h1>Hello world</h1>
 <div id="vueDiv">
     <h5>start: {{}} v-model v-show v-if</h5>
     <div>
         <input v-model="name"><span>你的名字：{{name}}</span>
     </div>
     <div>
         <input v-model="age"><span v-show="age">你的年龄：{{age}}</span>
     </div>
     <div>
         <input v-model="gender"><span v-if="gender">你的性别：{{gender}}</span>
     </div>
 </div>
 <div id="vueDiv1">
     <h5>v-for:</h5>
     <ol>
         <li v-for="todo in todos">{{todo.time}}:&nbsp;{{todo.thing}}&nbsp;￥{{todo.discount?todo.price*todo.discount:todo.price}}</li>
         <li v-for="todo in todos">{{todo}}</li>
     </ol>
 </div>
 <div id="vueDiv2">
     <h5>v-bind:</h5>
     <a v-bind:class="myClass" v-bind:href="targetURL">{{targetWebsite}}</a>
     <h5 v-bind:class="{redColor: isRed}">我是红色{{isRed}}</h5>
     <h5 :class="{redColor: isRed}">我是红色{{isRed}}</h5><!-- v-bind可省略，只写冒号 -->
 </div>

 <div id="vueDiv3">
     <h5>v-on:</h5>
     <button v-on:click="onClickMethod" v-on="{mouseenter:onEnter,mouseleave:onOut}">
         <!--自定义的方法可传参，传参时如：v-on:click="onClickMethod('abc')"；不传参时也可写v-on:click="onClickMethod()"-->
         v-on test: {{buttonName}} {{mouseAction}}
     </button>
 </div>

 <div id="vueDiv4">
     <h5>v-model:</h5>
     <input type="text" v-model="name">正常加载v-model<br>
     <input type="text" v-model.lazy="name">惰性加载v-model.lazy<br>
     <input type="text" v-model.trim="name">去空格v-model.trim<br>
     内容：<pre>[{{name}}]</pre><br>

     <input type="text" v-model.number="age">转数字v-model.number [{{age}}]<br>

     <label>男<input v-model="gender" type="radio" value="male"></label>
     <label>女<input v-model="gender" type="radio" value="female"></label>
     内容：[{{gender}}]<br>

     <label>乒乓球<input v-model="hobby" type="checkbox" value="Ping-pong"></label>
     <label>滑冰<input v-model="hobby" type="checkbox" value="Skate"></label>
     内容：[{{hobby}}]<br>

     <textarea v-model="article"></textarea>内容：[{{article}}]<br>

     你来自哪里？
     <select v-model="home">
         <option value="Mars">火星</option>
         <option value="Earth">地球</option>
     </select>
     内容：[{{home}}]<br>
     你要去哪里？
     <select v-model="destination" multiple="multiple">
         <option value="Moon">月球</option>
         <option value="Sun">太阳</option>
         <option value="Sea">海洋</option>
     </select>
     内容：[{{destination}}]<br>
 </div>
 <div id="vueDiv5">
     <h5>控制流指令v-if:</h5>
     选择角色：
     <select v-model="currentRole">
         <option v-for="role in roles">{{role}}</option>
     </select><br>
     <div v-if="currentRole=='员工'">恭喜你，放假了！</div>
     <div v-else-if="currentRole=='HR'">今天多招点人！</div>
     <div v-else-if="currentRole=='管理员'">我是管理员！</div>
 </div>
 <div id="vueDiv6">
     <h5>计算属性computed</h5>
     <table border="1">
         <thead>
         <th>科目</th>
         <th>分数</th>
         </thead>
         <tbody>
         <tr v-for="scoreInfo in scoreInfoArray">
             <td>{{scoreInfo.course}}</td>
             <td>{{scoreInfo.score}}</td>
         </tr>
         <!--data中引用不到computed中的属性-->
         <!--<tr v-for="statistics in statisticsArray">
             <td>{{statistics.category}}</td>
             <td>{{statistics.score}}</td>
         </tr>-->
         <tr>
             <td>总分</td>
             <td>{{sum}}</td>
         </tr>
         <tr>
             <td>平均分</td>
             <td>{{average}}</td>
         </tr>
         </tbody>

     </table>
 </div>
 <script src="node_modules/vue/dist/vue.js"></script>
 <script src="js/index.js"></script>
</body>
</html>