<?xml version="1.0" encoding="UTF-8"?>

<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>username</param-name>
        <param-value>arki</param-value>
    </context-param>
    <context-param>
        <param-name>email</param-name>
        <param-value>arki@arkizh.com</param-value>
    </context-param>

    <listener>
        <listener-class>com.arki.listener.SimpleServletContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.arki.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.arki.filter.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SimpleFilter</filter-name>
        <filter-class>com.arki.filter.SimpleFilter</filter-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>simple</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>filter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SimpleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


<!--    <servlet>
        <servlet-name>ContextRootServlet</servlet-name>
        <servlet-class>com.arki.servlet.ContextRootServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContextRootServlet</servlet-name>
        &lt;!&ndash;localhost:8080/&ndash;&gt;
        <url-pattern>\"\"</url-pattern>&lt;!&ndash;Exactly maps to the application's context root&ndash;&gt;
    </servlet-mapping>-->

    <!--Prefix match-->
    <!--localhost:8080/prefixmatchservlet/example-->
    <servlet>
        <servlet-name>PrefixMatchServlet</servlet-name>
        <servlet-class>com.arki.servlet.PrefixMatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrefixMatchServlet</servlet-name>
        <url-pattern>/prefixmatchservlet/*</url-pattern>
    </servlet-mapping>

    <!--Extension match-->
    <!--localhost:8080/extention/example.extension-->
    <servlet>
        <servlet-name>ExtensionMatchServlet</servlet-name>
        <servlet-class>com.arki.servlet.ExtensionMatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExtensionMatchServlet</servlet-name>
        <url-pattern>*.extension</url-pattern>
    </servlet-mapping>

    <!--Default match-->
    <!--localhost:8080/default-->
    <!--<servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>com.arki.servlet.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->

</web-app>